.recipeCard {
  position: relative;
}

.starWrapper {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-10px);
}

.star {
  width: 30px;
  padding: 0 0.1rem;
  cursor: pointer;
  stroke: #00000080;
  transition: 0.1s all ease-in;
}

.filledStar {
  fill: gold;
  stroke: #000000;
  transition: 0.2s all ease-in-out;
}

.disabledStar {
  cursor: default;
}

.userCount { 
  font-size: 0.75rem;
}