@font-face {
  font-family: "AridaBlack";
  src: local("AridaBlack"), url("./fonts/AridaBlack.woff") format("woff")
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("./fonts/Oswald-VariableFont_wght.woff") format("woff")
}
@font-face {
  font-family: "OswaldLight";
  src: local("OswaldLight"), url("./fonts/Oswald-Light.woff") format("woff")
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255 248 244)
}
